<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<form>
			<div class="form-group">
				<label for="" class="sr-only">room</label>
				<input type="text" required class="form-control search-room-input" placeholder="search room" ng-change="searchRoom()" ng-model="searchKey">
			</div>
		</form>
	</div>
</div>
<div class="row">
	<ul class="room-list clearfix">
		<li class="room-item" ng-repeat="room in rooms">
			<div class="room-content" ng-click="enterRoom(room)">
				<h3>
					{{room.name}}
					<span class="badge pull-right">
						{{room.users.length}} person
					</span>
				</h3>
				<div class="avatar-list">
					<span ng-repeat="user in room.users" title="{{user.name}}">
						<img src="/images/git.png" alt="{{user.email}}" class="img-rounded">
					</span>
				</div>
			</div>
		</li>
	</ul>
</div>
<div class="row no-room" ng-show="rooms.length == 0 && searchKey">
	<form class="form-inline no-room-form">
		<div class="form-group">
			there have no room
			<strong class="label label-default no-room-label">{{searchKey}}</strong>
			<button class="btn btn-warning" ng-click="createRoom()">Create Room</button>
		</div>
	</form>
</div>