<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta http-equiv="X-UA-Compatiable" content="IE=Edge">
	<meta charset="UTF-8">
	<title>User login and sessions signup</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div ng-controller="myController">
		<h2>Welcome you <%= username %></h2>
		<a href="/logout">logout</a><a href="/user">Edit User</a>
		<p>Place Your Code Here</p>
	</div>
	<hr><%= msg %>
	<script src="/lib/angular.js"></script>
	<script src="/static/js/my_app.js"></script>
</body>
</html>