<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>User login and sessions signup</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="form-container">
		<p class="form-header">Sign Up</p>
		<form action="" method="POST">
			<label for="">Username: </label>
				<input type="text" name="username"><br>
			<label for="">Password: </label>
				<input type="text" name="password"><br>
			<label for="">Email: </label>
				<input type="email" name="email"><br>
			<input type="submit" value="Register">
		</form>
	</div>
	<hr><%= msg %>
</body>
</html>