doctype html
html
  head
     title Shuffle History
     script(src="/javascripts/superagent.js") 
     script(src="/javascripts/initialize.js") 
  body
     h3#title
       | #{title}
     p#content
       | #{content}
     p
       a(href="/") Index entrance
     p
       a(href="/node/" id="node") Node entrance
     p
       a(href="/javascript/" id="javascript") Javascript entrance